<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
  class="light-style layout-menu-fixed"
  dir="ltr"
  data-theme="theme-default"
  data-assets-path="../assets/"
  data-template="vertical-menu-template-free">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0"
    />
    <title>Mapa</title>
    <meta name="description" content="" />
    <link rel="icon" type="image/x-icon" th:href="@{/assets/img/favicon/favicon.ico}" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="stylesheet" th:href="@{/css/boxicons.css}" />
    <link rel="stylesheet" th:href="@{/css/core.css}" class="template-customizer-core-css" />
    <link rel="stylesheet" th:href="@{/css/theme-default.css}" class="template-customizer-theme-css" />
    <link rel="stylesheet" th:href="@{/css/demo.css}" />
    <link rel="stylesheet" th:href="@{/css/perfect-scrollbar.css}" />
    <script th:src="@{/js/helpers.js}"></script>
    <script th:src="@{/js/config.js}"></script>
    <style>
      #map {
        flex: 0 0 auto;
        height: 700px;
        width: 88%;
        margin-left: 5%;
      }
    </style>
  </head>
  <body>
    <div class="layout-wrapper layout-content-navbar">
      <div class="layout-container">
        <aside id="layout-menu" class="layout-menu menu-vertical menu bg-menu-theme">
          <div class="app-brand demo">
            <a class="app-brand-link">
              <span class="app-brand-text demo menu-text fw-bolder ms-2"><img src="https://pbs.twimg.com/media/E6sqz46WEAQOe4r.jpg" width="150" height="100"></span>
            </a>
            <a href="javascript:void(0);" class="layout-menu-toggle menu-link text-large ms-auto d-block d-xl-none">
              <i class="bx bx-chevron-left bx-sm align-middle"></i>
            </a>
          </div>
          <div class="menu-inner-shadow"></div>
          <ul class="menu-inner py-1">
            <li class="menu-item">
              <a th:href="@{'/seguridad/inicio?page=1&buscarx=horaCreacion'}" class="menu-link">
                <div data-i18n="Account">Inicio</div>
              </a>
            </li>
            <li class="menu-item active">
              <a th:href="@{'/seguridad/mapa'}" class="menu-link">
                <div data-i18n="Account">Mapa de Incidencias</div>
              </a>
            </li>
            <li class="menu-item">
              <a th:href="@{'/seguridad/dashboard'}" class="menu-link">
                <div data-i18n="Account">Dashboard</div>
              </a>
            </li></ul>
        </aside>
        <div class="layout-page">
          <nav class="layout-navbar container-xxl navbar navbar-expand-xl navbar-detached align-items-center bg-navbar-theme"
            id="layout-navbar">
            <div class="layout-menu-toggle navbar-nav align-items-xl-center me-3 me-xl-0 d-xl-none">
              <a class="nav-item nav-link px-0 me-xl-4" href="javascript:void(0)">
                <i class="bx bx-menu bx-sm"></i>
              </a>
            </div>
            <div class="navbar-nav-right d-flex align-items-center" id="navbar-collapse">
              <div sec:authorize="isAuthenticated()" class="mt-3">
                <h2 th:text="|Bienvenido ${session.usuario.nombre} ${session.usuario.apellido}|"></h2>
              </div>
              <ul class="navbar-nav flex-row align-items-center ms-auto">
                <li class="nav-item lh-1 me-3">
                <li class="nav-item navbar-dropdown dropdown-user dropdown">
                  <a class="nav-link dropdown-toggle hide-arrow" href="javascript:void(0);" data-bs-toggle="dropdown">
                    <div class="avatar avatar-online">
                      <img th:if="${session.usuario.icono.id.equals(1)}" th:src="@{/img/1.png}" alt class="w-px-40 h-auto rounded-circle" />
                      <img th:if="${!session.usuario.icono.id.equals(1)}" th:src="@{'/seguridad/display?id='+${session.usuario.getId()}}" alt class="w-px-40 h-auto rounded-circle" />
                    </div>
                  </a>
                  <ul class="dropdown-menu dropdown-menu-end">
                    <li>
                      <a class="dropdown-item" href="#">
                        <div class="d-flex">
                          <div class="flex-shrink-0 me-3">
                            <div class="avatar avatar-online">
                              <img th:if="${session.usuario.icono.id.equals(1)}" th:src="@{/img/1.png}" alt class="w-px-40 h-auto rounded-circle" />
                              <img th:if="${!session.usuario.icono.id.equals(1)}" th:src="@{'/seguridad/display?id='+${session.usuario.getId()}}" alt class="w-px-40 h-auto rounded-circle" />
                            </div>
                          </div>
                          <div class="flex-grow-1">
                            <span class="fw-semibold d-block">Seguridad</span>
                            <smal>PUCP</smal>
                          </div>
                        </div>
                      </a>
                    </li>
                    <li>
                      <a th:href="@{'/seguridad/perfil'}" class="dropdown-item">
                        <span class="align-middle">Mi Perfil</span>
                      </a>
                    </li>
                    <li>
                      <div sec:authorize="isAuthenticated()">
                        <form th:action="@{/logout}" method="post">
                          <input class="btn btn-link" type="submit" value="Cerrar Sesion">
                        </form>
                      </div>
                    </li>
                  </ul>
              </ul>
              </li>
              </ul>
            </div>
          </nav>
          <div class="content-wrapper"><div class="container-xxl flex-grow-1 container-p-y">
          <div class="card">
                <h3 class="card-header">Mapa de Incidencias</h3>
              <div class="mb-3 col-md-5" id="map">
              </div>
            <div class="card-body">
            <div class="demo-inline-spacing">
              <a th:href="@{'/seguridad/inicio'}">
              <button type="button" class="btn rounded-pill btn-warning">Regresar</button></a>
            </div></div>
          </div>
              <footer class="content-footer footer bg-footer-theme">
                <div class="container-xxl d-flex flex-wrap justify-content-between py-2 flex-md-row flex-column">
                  <div class="mb-2 mb-md-0">
                    Av. Universitaria N° 1801, San Miguel, Lima - Perú | ©
                    <script>
                      document.write(new Date().getFullYear());
                    </script>
                    Pontificia Universidad Católica del Perú
                  </div>
                </div>
              </footer>
            </div></div></div></div></div>
    <script type="text/javascript">
      function iniciarMap(){
        var latitud = [[${latitud}]];
        var longitud = [[${longitud}]];
        var icono = [[${icono}]];
        var coord = {lat: -12.071 ,lng: -77.081};
        var map = new google.maps.Map(document.getElementById('map'),{
          zoom: 17,
          center: coord
        });
        let lati;
        let x = 0;
        for(lati in latitud){
          switch(icono[x]){
            case 1:
              imag = "/icono/ambu.png";
              break;
            case 2:
              imag = "/icono/atropello.png";
              break;
            case 3:
              imag = "/icono/celu.png";
              break;
            case 4:
              imag = "/icono/china.png";
              break;
            case 5:
              imag = "/icono/choque.png";
              break;
            case 6:
              imag = "/icono/gato.png";
              break;
            case 7:
              imag = "/icono/herido.png";
              break;
            case 8:
              imag = "/icono/incendio.png";
              break;
          }
          var marker = new google.maps.Marker({
            position: {lat: latitud[x],lng: longitud[x]},
            map: map,
            icon : imag
          });
          x++;}
      }
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB41DRUbKWJHPxaFjMAwdrzWzbVKartNGg&callback=iniciarMap"
    ></script>
              <script th:src="@{/js/jquery.js}"></script>
              <script th:src="@{/js/popper.js}"></script>
              <script th:src="@{/js/bootstrap.js}"></script>
              <script th:src="@{/js/perfect-scrollbar.js}"></script>
              <script th:src="@{/js/menu.js}"></script>
              <script th:src="@{/js/main.js}"></script>
    <script async defer src="https://buttons.github.io/buttons.js"></script>
  </body>
</html>
