<!DOCTYPE html>

<html
        lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
        class="light-style layout-menu-fixed"
        dir="ltr"
        data-theme="theme-default"
        data-assets-path="../assets/"
        data-template="vertical-menu-template-free"
>
<head>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
    <meta charset="utf-8" />
    <meta
            name="viewport"
            content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0"
    />

    <title>Detalle Incidencia</title>

    <meta name="description" content="" />

    <!-- Favicon -->
    <link rel="icon" type="image/x-icon" th:href="@{/assets/img/favicon/favicon.ico}" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="stylesheet" th:href="@{/css/boxicons.css}" />
    <link rel="stylesheet" th:href="@{/css/core.css}" class="template-customizer-core-css" />
    <link rel="stylesheet" th:href="@{/css/theme-default.css}" class="template-customizer-theme-css" />
    <link rel="stylesheet" th:href="@{/css/demo.css}" />
    <link rel="stylesheet" th:href="@{/css/perfect-scrollbar.css}" />
    <script th:src="@{/js/helpers.js}"></script>
    <script th:src="@{/js/config.js}"></script>
    <style>
        #map {
            flex: 0 0 auto;
            height: 300px;
            width: 88%;
            margin-left: 3%;
        }
    </style>
</head>
<body>
<div class="layout-wrapper layout-content-navbar">
    <div class="layout-container">
        <aside id="layout-menu" class="layout-menu menu-vertical menu bg-menu-theme">
            <div class="app-brand demo">
                <a href="index.html" class="app-brand-link">
                    <span class="app-brand-text demo menu-text fw-bolder ms-2"><img src="https://pbs.twimg.com/media/E6sqz46WEAQOe4r.jpg" width="150" height="100"></span>
                </a>
                <a href="javascript:void(0);" class="layout-menu-toggle menu-link text-large ms-auto d-block d-xl-none">
                    <i class="bx bx-chevron-left bx-sm align-middle"></i>
                </a>
            </div>
            <div class="menu-inner-shadow"></div>
            <ul class="menu-inner py-1">
                <li class="menu-item active">
                    <a th:href="@{'/seguridad/inicio'}" class="menu-link">
                        <div data-i18n="Account">Inicio</div>
                    </a>
                </li>
                <li class="menu-item">
                    <a th:href="@{'/seguridad/mapa'}" class="menu-link">
                        <div data-i18n="Account">Mapa de Incidencias</div>
                    </a>
                </li>
            </ul>
        </aside>
        <div class="layout-page">
            <nav class="layout-navbar container-xxl navbar navbar-expand-xl navbar-detached align-items-center bg-navbar-theme"
                 id="layout-navbar">
                <div class="navbar-nav-right d-flex align-items-center" id="navbar-collapse">
                    <div sec:authorize="isAuthenticated()" class="mt-3">
                        <h2 th:text="|Bienvenido ${session.usuario.nombre} ${session.usuario.apellido}|"></h2>
                    </div>
                    <ul class="navbar-nav flex-row align-items-center ms-auto">
                        <li class="nav-item navbar-dropdown dropdown-user dropdown">
                            <a class="nav-link dropdown-toggle hide-arrow" href="javascript:void(0);" data-bs-toggle="dropdown">
                                <div class="avatar avatar-online">
                                    <img th:src="@{/img/1.png}" alt class="w-px-40 h-auto rounded-circle" />
                                </div>
                            </a>
                            <ul class="dropdown-menu dropdown-menu-end">
                                <li>
                                    <a class="dropdown-item" href="#">
                                        <div class="d-flex">
                                            <div class="flex-shrink-0 me-3">
                                                <div class="avatar avatar-online">
                                                    <img th:src="@{/img/1.png}" alt class="w-px-40 h-auto rounded-circle" />
                                                </div>
                                            </div>
                                            <div class="flex-grow-1">
                                                <span class="fw-semibold d-block">Seguridad</span>
                                                <smal>PUCP</smal>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a th:href="@{'/seguridad/perfil'}" class="dropdown-item">
                                        <span class="align-middle">Mi Perfil</span>
                                    </a>
                                </li>
                                <li>
                                    <div sec:authorize="isAuthenticated()">
                                        <form th:action="@{/logout}" method="post">
                                            <input class="btn btn-link" type="submit" value="Cerrar Sesion">
                                        </form>
                                    </div>
                                </li>
                            </ul>
                    </ul>
                    </li>
                    </ul>
                </div>
            </nav>
            <div class="content-wrapper">
                <div class="container-xxl flex-grow-1 container-p-y">
                    <div class="card">
                            <div class="col-md-6">
                                    <h5 class="card-header">Detalle de Incidencia</h5>
                                        <div class="card-body">
                                            <form method="post" th:action="@{'/seguridad/actualizarest'+ '?id=' + ${incidencia.getId()}}" class="mt-2" th:object="${incidencia}">
                                                <div class="mb-3">
                                                    <label class="form-label">Titulo</label>
                                                    <input disabled type="text" class="form-control" id="titulo" name="titulo"
                                                           th:value="${incidencia.getTitulo()}"/>
                                                </div>
                                                <div class="mb-3">
                                                    <label class="form-label">Creador(Codigo)</label>
                                                    <input disabled th:value="${incidencia.getUsuario()}" type="text" class="form-control" name="descripcion"/>
                                                </div>
                                                <div class="mb-3">
                                                    <label class="form-label">Descripcion</label>
                                                    <input disabled th:value="${incidencia.getDescripcion()}" type="text" class="form-control" id="descripcion" name="descripcion"/>
                                                </div>
                                                <div class="mb-3">
                                                    <label class="form-label">Zona PUCP</label>
                                                    <input disabled type="text" class="form-control" id="zona" name="zona"
                                                           th:value="${incidencia.getZona().getTitulo()}"/>
                                                    </select>
                                                </div>
                                                <div class="mb-3">
                                                        <label class="form-label">Tipo de Incidencia</label>
                                                        <input disabled type="text" class="form-control" name="titulo"
                                                               th:value="${incidencia.getTipo().getTitulo()}"/>
                                                </div>
                                                <div class="mb-3">
                                                        <label class="form-label">Nivel de Urgencia</label>
                                                        <input disabled type="text" class="form-control" id="urgencia" name="zona"
                                                               th:value="${incidencia.getNivel()}"/>
                                                </div>
                                                <div class="mb-3">
                                                    <label class="form-label">Mapa de incidencia</label>
                                                    <div class="mb-3 col-md-5" id="map">
                                                </div>
                                                    <div class="mb-3">
                                                        <img th:src="@{'/foto/'+${incidencia.getImagen()}}" width="400" height="300">
                                                    </div>
                                                <div class="mb-3">
                                                    <label class="form-label">Estado actual</label>
                                                    <input disabled type="text" class="form-control" id="eactual" name="zona"
                                                           th:value="${incidencia.getEstado()}"/>
                                                </div>
                                                    <div class="mb-3" th:if="${incidencia.getCalificacion() ne 0}">
                                                        <label class="form-label">Calificacion</label>
                                                        <input disabled type="text" class="form-control" id="q" name="zona"
                                                               th:value="${incidencia.getCalificacion()}"/>
                                                    </div>
                                                <div class="mb-3" th:unless="${incidencia.getEstado() eq 'resuelto' or #strings.isEmpty(incidencia.getComentariorep())== false}">
                                                    <label for="zona" class="form-label">Actualizar estado</label>
                                                    <select class="form-select" name="estado" th:field="*{estado}" id="estado">
                                                        <option value="atendido">atendido</option>
                                                        <option value="en proceso">en proceso</option>
                                                        <option value="registrado">registrado</option>
                                                    </select>
                                                </div>
                                                <!--Comentarios incidencia(VISTA SEGURIDAD)-->
                                                <div class="mb-3" th:unless="${#lists.isEmpty(comentarios)}">
                                                    <label class="form-label">Comentarios de Incidencia</label>
                                                    <div class="mt-3" th:each="comentario,info : ${comentarios}">
                                                        <div class="mt-3">
                                                            <div th:if="${comentario.getTipo() eq 'seguridad'}">
                                                                <div class="d-flex flex-row justify-content-start">
                                                                    <img th:src="@{/img/segu_ava2.png}" alt="avatar 1"
                                                                         style="width: 45px; height: 100%;">
                                                                    <div class="p-3 ms-0" style="border-radius: 15px; background-color: rgba(57, 192, 237,.2);">
                                                                        <p class=" mb-0" th:text="${comentario.getTexto()}">Comentario impar</p>
                                                                    </div>
                                                                </div>
                                                                <span th:text="${#temporals.format(comentario.getFecha(), 'yyyy-MM-dd HH:mm:ss')}" class="small mb-2 d-flex flex-row justify-content-start mb-4">11:01 AM    |    June 9</span>
                                                            </div>
                                                            <div th:if="${comentario.getTipo() eq 'usuario'}">
                                                                <div class="d-flex flex-row justify-content-end">
                                                                    <div class="p-3 me-0 border" style="border-radius: 15px; background-color: #fbfbfb;">
                                                                        <p class=" mb-0" th:text="${comentario.getTexto()}">Comentario par</p>
                                                                    </div>
                                                                    <img th:src="@{/img/alum_ava.png}" alt="avatar 1"
                                                                         style="width: 45px; height: 100%;">
                                                                </div>
                                                                <span th:text="${#temporals.format(comentario.getFecha(), 'yyyy-MM-dd HH:mm:ss')}" class="small mb-2 d-flex flex-row justify-content-end mb-4">11:01 AM    |    June 9</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="mb-3" th:if="${incidencia.getRes() != 0}">
                                                        <div class="mb-3" th:unless="${incidencia.getEstado() eq 'resuelto' }">
                                                            <label for="comentario" class="form-label">Agregar Comentario</label>
                                                            <textarea class="form-control"
                                                                      name="comentario"
                                                                      rows="3"
                                                                      id="comentario"
                                                                      placeholder="Introducir comentario"
                                                                      th:value="${comentario}"
                                                            ></textarea>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="mb-3" th:unless="${#strings.isEmpty(incidencia.getComentariorep())}">
                                                    <label class="form-label">Comentario de reporte de Incidencia</label>
                                                    <input disabled type="text" class="form-control" id="actual" name="zona"
                                                           th:value="${incidencia.getComentariorep()}"
                                                    />
                                                </div>
                                                <button type="submit"
                                                        class="btn btn-success"
                                                        th:unless="${incidencia.getEstado() eq 'resuelto' or #strings.isEmpty(incidencia.getComentariorep())== false}"
                                                        >Actualizar
                                                </button>
                                                <a th:href="@{'/seguridad/inicio'}" class="btn btn-danger">Regresar</a>
                                            </form>
                                        </div>
                            </div></div>
                </div>
                <footer class="content-footer footer bg-footer-theme">
                    <div class="container-xxl d-flex flex-wrap justify-content-between py-2 flex-md-row flex-column">
                        <div class="mb-2 mb-md-0">
                            Av. Universitaria N° 1801, San Miguel, Lima - Perú | © 2022
                            <script>
                                document.write(new Date().getFullYear());
                            </script>
                            Pontificia Universidad Católica del Perú
                        </div>

                    </div>
                </footer>
                <div class="content-backdrop fade"></div>
            </div>
        </div>
    </div>
    <div class="layout-overlay layout-menu-toggle"></div>
</div>
<script type="text/javascript">

    function iniciarMap(){
        var latitud = [[${incidencia.getLatitud()}]];
        var longitud = [[${incidencia.getLongitud()}]];
        var icono = [[${icono}]];
        var coord = {lat: latitud ,lng: longitud};
        var map = new google.maps.Map(document.getElementById('map'),{
            zoom: 17,
            center: coord
        });
            switch(icono){
                case 1:
                    imag = "/icono/ambu.png";
                    break;
                case 2:
                    imag = "/icono/atropello.png";
                    break;
                case 3:
                    imag = "/icono/celu.png";
                    break;
                case 4:
                    imag = "/icono/china.png";
                    break;
                case 5:
                    imag = "/icono/choque.png";
                    break;
                case 6:
                    imag = "/icono/gato.png";
                    break;
                case 7:
                    imag = "/icono/herido.png";
                    break;
                case 8:
                    imag = "/icono/incendio.png";
                    break;
            }
            var marker = new google.maps.Marker({
                position: {lat: latitud,lng: longitud},
                map: map,
                icon : imag
            })
    }
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB41DRUbKWJHPxaFjMAwdrzWzbVKartNGg&callback=iniciarMap"
></script>
<script th:src="@{/js/jquery.js}"></script>
<script th:src="@{/js/popper.js}"></script>
<script th:src="@{/js/bootstrap.js}"></script>
<script th:src="@{/js/perfect-scrollbar.js}"></script>
<script th:src="@{/js/menu.js}"></script>
<script th:src="@{/js/main.js}"></script>
<script async defer src="https://buttons.github.io/buttons.js"></script>
</body>
</html>
