<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"

  class="light-style layout-menu-fixed"
  dir="ltr"
  data-theme="theme-default"
  data-assets-path="../assets/"
  data-template="vertical-menu-template-free">
>
  <head>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0"
    />
    <title>Lista de Incidencias</title>
    <meta name="description" content="" />
    <link rel="icon" type="image/x-icon" href="https://cdn-icons-png.flaticon.com/512/1022/1022331.png	" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" th:href="@{/css/boxicons.css}" />
    <link rel="stylesheet" th:href="@{/css/core.css}" class="template-customizer-core-css" />
    <link rel="stylesheet" th:href="@{/css/theme-default.css}" class="template-customizer-theme-css" />
    <link rel="stylesheet" th:href="@{/css/demo.css}" />
    <link rel="stylesheet" th:href="@{/css/perfect-scrollbar.css}" />
    <script th:src="@{/js/helpers.js}"></script>
    <script th:src="@{/js/config.js}"></script>
  </head>

  <body>
    <!-- Layout wrapper -->
    <div class="layout-wrapper layout-content-navbar">
      <div class="layout-container">
        <aside id="layout-menu" class="layout-menu menu-vertical menu bg-menu-theme">
          <div class="app-brand demo">
            <span class="app-brand-logo demo"></span>
                  <img src="https://pbs.twimg.com/media/E6sqz46WEAQOe4r.jpg" width="150"
                       height="100">
            <a href="javascript:void(0);" class="layout-menu-toggle menu-link text-large ms-auto d-block d-xl-none">
              <i class="bx bx-chevron-left bx-sm align-middle"></i>
            </a>
          </div>
          <div class="menu-inner-shadow"></div>
          <ul class="menu-inner py-1">

            <li class="menu-item">
              <a th:href="@{'/incidencia/perfil'}" class="menu-link">
                <div data-i18n="Analytics">Perfil</div>
              </a>
            </li>
            <li class="menu-item">
              <a href="javascript:void(0);" class="menu-link menu-toggle">
                <div data-i18n="Account Settings">Incidencias</div>
              </a>
              <ul class="menu-sub">
                <li class="menu-item">
                  <a th:href="@{'/incidencia/list'}" class="menu-link">
                    <div data-i18n="Account">Lista de incidencias</div>
                  </a>
                </li>
                <li class="menu-item">
                  <a th:href="@{'/incidencia/mis_incidencias'}" class="menu-link">
                    <div data-i18n="Notifications">Mis incidencias</div>
                  </a>
                </li>
                <li class="menu-item">
                  <a th:href="@{'/incidencia/destacadas'}" class="menu-link">
                    <div data-i18n="Notifications">Incidencias Destacadas</div>
                  </a>
                </li>
                <li class="menu-item">
                  <a th:href="@{'/incidencia/new'}" class="menu-link">
                    <div data-i18n="Connections">Registrar incidencia</div>
                  </a>
                </li>

              </ul>
            </li>

            <li class="menu-item">
              <a th:href="@{'/incidencia/sugerencias'}" class="menu-link">

                <div data-i18n="Analytics">Sugerencias</div>
              </a>
            </li>
          </ul>
        </aside>
        <!-- / Menu -->

        <!-- Layout container -->
        <div class="layout-page">
          <!-- Navbar -->

          <nav
            class="layout-navbar container-xxl navbar navbar-expand-xl navbar-detached align-items-center bg-navbar-theme"
            id="layout-navbar"
          >
            <div class="layout-menu-toggle navbar-nav align-items-xl-center me-3 me-xl-0 d-xl-none">
              <a class="nav-item nav-link px-0 me-xl-4" href="javascript:void(0)">
                <i class="bx bx-menu bx-sm"></i>
              </a>
            </div>

            <div class="navbar-nav-right d-flex align-items-center" id="navbar-collapse">
              <div sec:authorize="isAuthenticated()" class="mt-3">
                <h2 th:text="|Bienvenido ${session.usuario.nombre} ${session.usuario.apellido}|"></h2>

              </div>
              <ul class="navbar-nav flex-row align-items-center ms-auto">
                <li class="nav-item navbar-dropdown dropdown-user dropdown">
                  <a class="nav-link dropdown-toggle hide-arrow" href="javascript:void(0);" data-bs-toggle="dropdown">
                    <div class="avatar avatar-online">
                      <img th:src="@{/img/1.png}" alt class="w-px-40 h-auto rounded-circle" />
                    </div>
                  </a>
                  <ul class="dropdown-menu dropdown-menu-end">
                    <li>
                      <a class="dropdown-item" href="#">
                        <div class="d-flex">
                          <div class="flex-shrink-0 me-3">
                            <div class="avatar avatar-online">
                              <img th:src="@{/img/1.png}" alt class="w-px-40 h-auto rounded-circle" />
                            </div>
                          </div>
                          <div class="flex-grow-1">
                            <span class="fw-semibold d-block" th:text="|${session.usuario.nombre} ${session.usuario.apellido}|"></span>
                            <small class="text-muted">Estudiante</small>
                          </div>
                        </div>
                      </a>
                    </li>
                    <li>
                      <a class="dropdown-item" th:href="@{'/incidencia/perfil'}">

                        <span class="btn btn-link">Mi Perfil</span>
                      </a>
                    </li>

                    <li>
                      <div sec:authorize="isAuthenticated()">
                        <form th:action="@{/logout}" method="post">
                          <input class="btn btn-link" type="submit" value="Cerrar Sesion">
                        </form>
                      </div>
                    </li>
                  </ul>
                </li>
              </ul>
            </div>
          </nav>
          <div class="content-wrapper">
            <!-- Content -->

            <div class="container-xxl flex-grow-1 container-p-y">
              <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Incidencias/ </span> Lista de incidencias</h4>
              <div class="card">
                <h5 class="card-header">Lista de Incidencias</h5>
                <div class="table-responsive text-nowrap">

                  <form method="post" th:action="@{/incidencia/BuscarxZona}">
                    <input name="searchField" class="form-control mb-3" type="text" placeholder="Search" aria-label="Search" th:value="${searchField}">
                  </form>

                  <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Dropdown button
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                      <a class="dropdown-item" href="#">Action</a>
                      <a class="dropdown-item" href="#">Another action</a>
                      <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                  </div>
                  <table class="table">
                    <thead class="table-light">
                      <tr>
                        <th>#</th>
                        <th>Titulo</th>
                        <th>Urgencia</th>
                        <th>Fecha</th>
                        <th>Zona PUCP</th>
                        <th>Tipo</th>
                        <th>Destacar</th>
                        <th></th>

                      </tr>
                    </thead>
                    <tbody class="table-border-bottom-0">
                      <tr class="table-danger" th:each="inc, info : ${listaIncidencias}" th:if="${inc.destacado eq 1}">
                        <td th:text="${info.index + 1}"></td>
                        <td th:text="${inc.getTitulo()}"></td>
                        <td>
                          <span class="badge bg-label-success me-1" th:text="${inc.nivel}"
                                th:if="${inc.nivel eq 'leve'}"></span>
                          <span class="badge bg-label-warning me-1" th:text="${inc.nivel}"
                                th:if="${inc.nivel eq 'moderado'}"></span>
                          <span class="badge bg-label-danger me-1" th:text="${inc.nivel}"
                                th:if="${inc.nivel eq 'critico'}"></span>
                        </td>
                        <td th:text="${inc.getHoraCreacion()}"></td>
                        <td th:text="${inc.getZona().getTitulo()}"></td>
                        <td th:text="${inc.getTipo().getTitulo()}"></td>
                        <td>
                          <a th:href="@{'/incidencia/desdestacar'+'?idincidencias=' + ${inc.getId()}}">
                          <button type="button" class="btn btn-warning">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bookmark-star" viewBox="0 0 16 16">
                              <path d="M7.84 4.1a.178.178 0 0 1 .32 0l.634 1.285a.178.178 0 0 0 .134.098l1.42.206c.145.021.204.2.098.303L9.42 6.993a.178.178 0 0 0-.051.158l.242 1.414a.178.178 0 0 1-.258.187l-1.27-.668a.178.178 0 0 0-.165 0l-1.27.668a.178.178 0 0 1-.257-.187l.242-1.414a.178.178 0 0 0-.05-.158l-1.03-1.001a.178.178 0 0 1 .098-.303l1.42-.206a.178.178 0 0 0 .134-.098L7.84 4.1z"></path>
                              <path d="M2 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v13.5a.5.5 0 0 1-.777.416L8 13.101l-5.223 2.815A.5.5 0 0 1 2 15.5V2zm2-1a1 1 0 0 0-1 1v12.566l4.723-2.482a.5.5 0 0 1 .554 0L13 14.566V2a1 1 0 0 0-1-1H4z"></path>
                            </svg>
                            <span class="visually-hidden">Destacar</span>
                          </button></a>
                        </td>
                        <td>
                        <a th:href="@{'/incidencia/info'+'?idincidencias=' + ${inc.getId()}}">
                          <button type="button" class="btn btn-primary" >
                              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-info-lg" viewBox="0 0 16 16">
                                <path d="m9.708 6.075-3.024.379-.108.502.595.108c.387.093.464.232.38.619l-.975 4.577c-.255 1.183.14 1.74 1.067 1.74.72 0 1.554-.332 1.933-.789l.116-.549c-.263.232-.65.325-.905.325-.363 0-.494-.255-.402-.704l1.323-6.208Zm.091-2.755a1.32 1.32 0 1 1-2.64 0 1.32 1.32 0 0 1 2.64 0Z"></path>
                              </svg>
                              <span class="visually-hidden">Button</span>
                          </button></a>
                        </td>
                      </tr>
                      <tr class="table-info" th:each="inc, info : ${listaIncidencias}" th:if="${inc.destacado eq 0}">
                        <td th:text="${info.index + 1}"></td>
                        <td th:text="${inc.getTitulo()}"></td>
                        <td th:text="${inc.getNivel()}"></td>
                        <td th:text="${inc.getHoraCreacion()}"></td>
                        <td th:text="${inc.getZona().getTitulo()}"></td>
                        <td th:text="${inc.getTipo().getTitulo()}"></td>
                        <td>
                          <a th:href="@{'/incidencia/destacar'+'?idincidencias=' + ${inc.getId()}}">
                            <button type="button" class="btn btn-warning">
                              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bookmark-star" viewBox="0 0 16 16">
                                <path d="M7.84 4.1a.178.178 0 0 1 .32 0l.634 1.285a.178.178 0 0 0 .134.098l1.42.206c.145.021.204.2.098.303L9.42 6.993a.178.178 0 0 0-.051.158l.242 1.414a.178.178 0 0 1-.258.187l-1.27-.668a.178.178 0 0 0-.165 0l-1.27.668a.178.178 0 0 1-.257-.187l.242-1.414a.178.178 0 0 0-.05-.158l-1.03-1.001a.178.178 0 0 1 .098-.303l1.42-.206a.178.178 0 0 0 .134-.098L7.84 4.1z"></path>
                                <path d="M2 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v13.5a.5.5 0 0 1-.777.416L8 13.101l-5.223 2.815A.5.5 0 0 1 2 15.5V2zm2-1a1 1 0 0 0-1 1v12.566l4.723-2.482a.5.5 0 0 1 .554 0L13 14.566V2a1 1 0 0 0-1-1H4z"></path>
                              </svg>
                              <span class="visually-hidden">Destacar</span>
                            </button></a>
                        </td>
                        <td>
                          <a th:href="@{'/incidencia/info'+'?idincidencias=' + ${inc.getId()}}">
                            <button type="button" class="btn btn-primary" >
                              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-info-lg" viewBox="0 0 16 16">
                                <path d="m9.708 6.075-3.024.379-.108.502.595.108c.387.093.464.232.38.619l-.975 4.577c-.255 1.183.14 1.74 1.067 1.74.72 0 1.554-.332 1.933-.789l.116-.549c-.263.232-.65.325-.905.325-.363 0-.494-.255-.402-.704l1.323-6.208Zm.091-2.755a1.32 1.32 0 1 1-2.64 0 1.32 1.32 0 0 1 2.64 0Z"></path>
                              </svg>
                              <span class="visually-hidden">Button</span>
                            </button></a>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                  <!-- Paginacion  -->
                <div class="row">
                  <div class="col-md-2"></div>
                  <div class="col-md-8">
                    <ul class="pagination justify-content-center">
                      <li class="page-item" th:classappend="${prev==0 ? 'disabled':''}">
                        <a class="page-link" th:href="@{|/incidencia/list?page=${prev}|}" >Anterior</a>
                      </li>
                      <li class="page-item" th:each="page:${pages}" th:classappend="${current==page?'active':''}">
                        <a class="page-link" th:href="@{|/incidencia/list?page=${page}|}" th:text="${page}"></a>
                      </li>
                      <li class="page-item" th:classappend="${current==last ? 'disabled':''}">
                        <a class="page-link" th:href="@{|/incidencia/list?page=${next}|}" >Siguiente</a>
                      </li>
                    </ul>
                  </div>

                  <div class="col-md-2"></div>
                </div>
                  <!-- fin Paginacion  -->

                </div>
              </div>
              <!-- Bootstrap Table with Header - Light -->



              <hr class="my-5" />
            </div>
            <div class="content-backdrop fade"></div>
          </div>
        </div>
      </div>
      <div class="layout-overlay layout-menu-toggle"></div>
    </div>
    <div id = "fb-root" ></div> <script async defer crossorigin = "anónimo" src = "https://connect.facebook.net/es_ES/sdk.js#xfbml=1&version=v15.0" nonce = "RhQbcBPc" ></script>
    <script th:src="@{/js/jquery.js}"></script>
    <script th:src="@{/js/popper.js}"></script>
    <script th:src="@{/js/bootstrap.js}"></script>
    <script th:src="@{/js/perfect-scrollbar.js}"></script>
    <script th:src="@{/js/menu.js}"></script>
    <script th:src="@{/js/main.js}"></script>
    <script async defer src="https://buttons.github.io/buttons.js"></script>
  </body>
</html>
