<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" xmlns:th="http://www.thymeleaf.org"
  class="light-style layout-menu-fixed"
  dir="ltr"
  data-theme="theme-default"
  data-assets-path="../assets/"
  data-template="vertical-menu-template-free">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0"
    />
    <style>
      .dropify-wrapper{
        height: 250px !important;
      }
    </style>
    <link rel="stylesheet" th:href="@{/css/dropify.css}"/>

    <title>Perfil de usuario</title>

    <meta name="description" content="" />

  <!-- Favicon -->
    <link rel="icon" type="image/x-icon" href="https://cdn-icons-png.flaticon.com/512/1022/1022331.png	" />

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" th:href="@{/css/boxicons.css}" />
    <link rel="stylesheet" th:href="@{/css/core.css}" class="template-customizer-core-css" />
    <link rel="stylesheet" th:href="@{/css/theme-default.css}" class="template-customizer-theme-css" />
    <link rel="stylesheet" th:href="@{/css/demo.css}" />
    <link rel="stylesheet" th:href="@{/css/perfect-scrollbar.css}" />
    <script th:src="@{/js/helpers.js}"></script>
    <script th:src="@{/js/config.js}"></script>
  </head>
  <body>
    <script>
      $(function() {
        $('.dropify').dropify();
      });
    </script>
    <!-- Layout wrapper -->
    <div class="layout-wrapper layout-content-navbar">
      <div class="layout-container">
        <!-- Menu -->

        <aside id="layout-menu" class="layout-menu menu-vertical menu bg-menu-theme">
          <div class="app-brand demo">
            <a  class="app-brand-link">
              <span class="app-brand-logo demo">
                  <img src="https://pbs.twimg.com/media/E6sqz46WEAQOe4r.jpg" width="150" height="100">
              </span></a>
            <a href="javascript:void(0);" class="layout-menu-toggle menu-link text-large ms-auto d-block d-xl-none">
              <i class="bx bx-chevron-left bx-sm align-middle"></i>
            </a>
          </div>

          <div class="menu-inner-shadow"></div>

          <ul class="menu-inner py-1">
            <!-- Dashboard -->
            <li class="menu-item">
              <a th:href="@{'/incidencia/perfil'}" class="menu-link">
                <div data-i18n="Analytics">Perfil</div>
              </a>
            </li>
            <li class="menu-item">
              <a href="javascript:void(0);" class="menu-link menu-toggle">

                <div data-i18n="Account Settings">Incidencias</div>
              </a>
              <ul class="menu-sub">
                <li class="menu-item">
                  <a th:href="@{'/incidencia/list?page=1&buscarx=horaCreacion'}" class="menu-link">
                    <div data-i18n="Account">Lista de incidencias</div>
                  </a>
                </li>
                <li class="menu-item">
                  <a th:href="@{'/incidencia/mis_incidencias?page=1&buscarx=horaCreacion'}" class="menu-link">
                    <div data-i18n="Notifications">Mis incidencias</div>
                  </a>
                </li>
                <li class="menu-item">
                  <a th:href="@{'/incidencia/destacadas?page=1&buscarx=horaCreacion'}" class="menu-link">
                    <div data-i18n="Notifications">Incidencias Destacadas</div>
                  </a>
                </li>
                <li class="menu-item">
                  <a th:href="@{'/incidencia/new'}" class="menu-link">
                    <div data-i18n="Connections">Registrar incidencia</div>
                  </a>
                </li>

              </ul>
            </li>

            <li class="menu-item">
              <a th:href="@{'/incidencia/sugerencias'}" class="menu-link">

                <div data-i18n="Analytics">Sugerencias</div>
              </a>
            </li>
          </ul>
        </aside>
        <div class="layout-page">
          <nav
            class="layout-navbar container-xxl navbar navbar-expand-xl navbar-detached align-items-center bg-navbar-theme"
            id="layout-navbar">
            <div class="layout-menu-toggle navbar-nav align-items-xl-center me-3 me-xl-0 d-xl-none">
              <a class="nav-item nav-link px-0 me-xl-4" href="javascript:void(0)">
                <i class="bx bx-menu bx-sm"></i>
              </a>
            </div>
            <div class="navbar-nav-right d-flex align-items-center" id="navbar-collapse">
              <div sec:authorize="isAuthenticated()" class="mt-3">
                <h2 th:text="|Bienvenido ${session.usuario.nombre} ${session.usuario.apellido}|"></h2>
              </div>
              <ul class="navbar-nav flex-row align-items-center ms-auto">
                <li class="nav-item lh-1 me-3">
                <li class="nav-item navbar-dropdown dropdown-user dropdown">
                  <a class="nav-link dropdown-toggle hide-arrow" href="javascript:void(0);" data-bs-toggle="dropdown">
                    <div class="avatar avatar-online">
                      <img th:if="${session.usuario.icono.id.equals(1)}" th:src="@{/img/1.png}" alt class="w-px-40 h-auto rounded-circle" />
                      <img th:if="${!session.usuario.icono.id.equals(1)}" th:src="@{'/incidencia/display?id='+${session.usuario.getId()}}" alt class="w-px-40 h-auto rounded-circle" />
                    </div>
                  </a>
                  <ul class="dropdown-menu dropdown-menu-end">
                    <li>
                      <a class="dropdown-item" href="#">
                        <div class="d-flex">
                          <div class="flex-shrink-0 me-3">
                            <div class="avatar avatar-online">
                              <img th:if="${session.usuario.icono.id.equals(1)}" th:src="@{/img/1.png}" alt class="w-px-40 h-auto rounded-circle" />
                              <img th:if="${!session.usuario.icono.id.equals(1)}" th:src="@{'/incidencia/display?id='+${session.usuario.getId()}}" alt class="w-px-40 h-auto rounded-circle" />
                            </div>
                          </div>
                          <div class="flex-grow-1">
                            <span class="fw-semibold d-block" th:text="|${session.usuario.nombre} ${session.usuario.apellido}|"></span>
                            <small class="text-muted">Estudiante</small>
                          </div>
                        </div>
                      </a>
                    </li>
					<li>
                      <a class="dropdown-item" th:href="@{'/incidencia/perfil'}">
                        <span class="align-middle">Mi Perfil</span>
                      </a>
                    </li>
                    <li>
                      <div sec:authorize="isAuthenticated()">
                        <form th:action="@{/logout}" method="post">
                          <input class="btn btn-link" type="submit" value="Cerrar Sesion">
                        </form>
                      </div>
                    </li>
                  </ul>
                </li>
              </ul>
            </div>
          </nav>
          <div class="content-wrapper">
            <div class="container-xxl flex-grow-1 container-p-y">
              <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Perfil /</span> Mi Perfil</h4>
              <div class="row">
                <form method="POST" th:action="@{'/incidencia/cambio?id='+${usuario.getId}}" enctype="multipart/form-data">
                <div class="col-md-12">
                  <div class="card mb-4">
                    <h3 class="card-header" th:text="|${session.usuario.nombre} ${session.usuario.apellido}|"></h3>
                    <div class="card-body">
                      <div class="d-flex align-items-start align-items-sm-center gap-4">
                        <img th:if="${usuario.icono.id.equals(1)}" th:src="@{/img/1.png}" alt="user-avatar" class="d-block rounded" height="100" width="100" >
                        <img th:if="${!usuario.icono.id.equals(1)}" th:src="@{'/incidencia/display?id='+${session.usuario.getId()}}" alt="user-avatar" class="d-block rounded" height="100" width="100">
                        <div>
                          <label for="formFile" class="form-label">Cambiar foto de perfil</label>
                          <input accept="image/png,image/jpeg" class="form-control" type="file" id="formFile" name="file">
                        </div>
                      </div>
                     <br>
                      <br>
                        <div class="row">
                          <div class="mb-3 col-md-6">
                            <label for="firstName" class="form-label">Nombre</label>
                            <input class="form-control" type="text" id="firstName" name="firstName" th:value="${usuario.nombre}" disabled>
                          </div>
                          <div class="mb-3 col-md-6">
                            <label for="lastName" class="form-label">Apellido</label>
                            <input class="form-control" type="text" name="lastName" id="lastName" th:value="${usuario.apellido}" disabled>
                          </div>
                          <div class="mb-3 col-md-6">
                            <label for="email" class="form-label">E-mail</label>
                            <input class="form-control" type="text" id="email" name="email" th:value="${usuario.correo}" disabled>
                          </div>
                          <div class="mb-3 col-md-6">
                            <label for="organization" class="form-label">DNI</label>
                            <input type="text" class="form-control" id="organization" name="organization" th:value="${usuario.dni}" disabled>
                          </div>
                            <div class="mb-3 col-md-6">
                              <label class="form-label" for="telefono">Celular</label>
                              <div class="input-group input-group-merge">
                                <span class="input-group-text">PE (+51)</span>
                                <input type="number" name="telefono" id="telefono" class="form-control" min="900000000" max="999999999" th:value="${usuario.telefono}">
                              </div>
                            </div>
                            <div class="mb-3 col-md-6">
                            <label for="id" class="form-label">Codigo PUCP</label>
                            <input type="number" class="form-control" id="id" name="id" placeholder="88888888" th:value="${usuario.getId()}" disabled>
                          </div>
                        <div class="mt-2">
                          <button type="submit" class="btn btn-primary">Guardar</button>
                          <a th:href="@{'/incidencia'}" class="btn btn-danger">Cancelar</a>
                        </div>
                        </div>
                    </div>
                </div>
                </div></form>
            </div>
          </div>
        </div>
      </div>
      </div></div></body>
    <script th:src="@{/js/dropify.js}"></script>
    <script th:src="@{/js/jquery.js}"></script>
    <script th:src="@{/js/popper.js}"></script>
    <script th:src="@{/js/bootstrap.js}"></script>
    <script th:src="@{/js/perfect-scrollbar.js}"></script>
    <script th:src="@{/js/menu.js}"></script>
    <script th:src="@{/js/main.js}"></script>
    <script th:src="@{/js/pages-account-settings-account.js}"></script>
    <script async defer src="https://buttons.github.io/buttons.js"></script>

</html>
